html{
    font-family: serif;
    background: rgb(253, 254, 246);
    margin: 0;
}

body{
    margin: 0;
}


.title{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}